#root {
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: black;
    background: #f0f0f0;
}

.script-bf-box {
    width: 100px;
    height: 300px;
    background: #4baecb;
    margin: 5px;
    will-change: transform;
}

.script-bf-box:hover {
    background: hotpink;
}
.wrapper {
    width: auto;
    position: relative;
}
.side-1, .side-2, .side-3--half, .side-3--1, .side-3--2 {
    width: 25rem;
    height: 5rem;
    position: relative;
}
/*span {*/
/*    display: block;*/
/*    width: 25rem;*/
/*    height: 2.5rem;*/
/*}*/
.side-1 {
    clip-path: polygon(5% 0%, 100% 1%, 100% 100%, 7% 100%, 0% 50%);
    transform: rotate(32deg);
    width: 22rem;
    z-index: 10;
    left: -2px;
}
.side-1 span {
    background-color: #ffbdb8;
}
.side-1 span:nth-child(2) {
    background-color: #163d37;
}
.side-2 {
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 91% 100%, 0% 100%);
    top: 5.1rem;
    left: 1.6rem;
    transform: rotate(-35deg);
    width: 22rem;
    z-index: 20;
}
.side-2 span {
    background-color: #ffbdb8;
}
.side-2 span:nth-child(2) {
    background-color: #0156f0;
}
.side-3--half {
    width: 13rem;
    clip-path: polygon(14% 0%, 98% 0%, 100% 50%, 98% 100%, 15% 100%);
    transform: rotate(90deg);
    left: -2.5rem;
}
.side-3--half span {
    background-color: #0156f0;
}
.side-3--half span:nth-child(2) {
    background-color: #163d37;
}
.side-3--1 {
    z-index: 5;
    top: -9rem;
}
.side-3--2 {
    z-index: 30;
    top: -1.8rem;
    left: -2rem;
    width: 12rem;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 90% 100%, 0% 100%);
}
.ball {
    width: 2rem;
    height: 2rem;
    background: whitesmoke;
    border-radius: 100%;
    position: absolute;
    z-index: 20;
    transform: translateY(-5.5rem) translateX(1.5rem);
    top: -0.5rem;
    left: -0.75rem;
    animation: ballMove 17s infinite linear;
}
@keyframes ballMove {
    8% {
        top: 10rem;
        left: 16.5rem;
        z-index: 30;
    }
    14% {
        top: 19.5rem;
        left: 4rem;
        z-index: 30;
    }
    15% {
        z-index: 30;
    }
    16% {
        z-index: 4;
    }
    23% {
        top: 1rem;
        left: 4rem;
        z-index: 1;
    }
    33% {
        top: 11.5rem;
        left: 20rem;
        z-index: 10;
    }
    34% {
        z-index: 50;
    }
    42% {
        top: 24rem;
        left: 3rem;
        z-index: 50;
    }
    44%, 45%, 46% {
        z-index: 31;
    }
    47% {
        z-index: 31;
    }
    48% {
        z-index: 31;
    }
    49% {
        z-index: 8;
    }
    52% {
        top: 7rem;
        left: 4rem;
        z-index: 8;
    }
    61% {
        top: 15.5rem;
        left: 17rem;
        z-index: 10;
    }
    68% {
        top: 26.5rem;
        z-index: 5;
        left: 0;
    }
    69% {
        z-index: 35;
    }
    78% {
        top: 3.5rem;
        left: 0;
        z-index: 35;
    }
    86% {
        top: 12rem;
        left: 13rem;
        z-index: 15;
    }
    93% {
        top: 23rem;
        left: -1rem;
        z-index: 2;
    }
    99% {
        z-index: 4;
    }
}
/*svg {*/
/*    !*position: absolute;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*width: 740px;*!*/
/*    !*height: 140px;*!*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.path {
    stroke-dashoffset: 0;
    stroke-dasharray: 100%;
    animation: dash 4.5s linear;
}

.path:nth-child(10) {
    animation-delay: -2s;
}
.path:nth-child(9) {
    animation-delay: -1.75s;
}
.path:nth-child(8) {
    animation-delay: -1.5s;
}
.path:nth-child(7) {
    animation-delay: -1.5s;
}
.path:nth-child(6) {
    animation-delay: -1.25s;
}
.path:nth-child(5) {
    animation-delay: -1s;
}
.path:nth-child(4) {
    animation-delay: -0.75s;
}
.path:nth-child(3) {
    animation-delay: -0.5s;
}
.path:nth-child(2) {
    animation-delay: -0.25s;
}

@keyframes dash {
    0%,
    50% {
        stroke-dashoffset: 100%;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.cardname {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.cardname {
    background-image: linear-gradient(to bottom right, #ff9800, #ffa726);
}
.blue {
    color: #29b6f6;
}
.green {
    color: #9ccc65;
}
.purple {
    color: #ba68c8;
}
.cyan {
    color: #4dd0e1;
}
.red {
    color: #ef5350;
}
.content {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    perspective: 150rem;
    height: 20rem;
    width: 30rem;
    position: relative;
}
.card__side {
    height: 15rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 30rem;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.card__side--front {
    background-color: #1c1c1c;
}
.card__side--back {
    transform: rotateY(180deg);
    background-color: #1c1c1c;
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0deg);
}
.card__cont {
    height: 15rem;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
}
.card__cta p {
    margin-left: 1rem;
}
.card__cta p > .space {
    margin-left: 2rem;
}
